---
import Seo from '@components/Seo.astro'

const { title, description, image, robots } = Astro.props
---

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<meta name="robots" content="index,follow" />
	<meta name="description" content={description} />

	<Seo {title} {description} url={Astro.url} {image} {robots} />

	<link rel="preconnect" href="https://fonts.bunny.net" />
	<link href="https://fonts.bunny.net/css?family=nunito:200,400,800" rel="stylesheet" />

	<script
		type="text/partytown"
		async
		defer
		data-website-id="ba440270-9b65-4196-a815-8d57913f5815"
		src="https://tpstat.selfhostlab.com/umami.js"></script>
</head>
